pandas==1.1.5
jupyter
torch
pytorch-lightning
pytorch-forecasting
torchvision
opencv-python
Pillow
albumentations
pandas-profiling
mlflow
xgboost
ngboost
plotly-express
annoy
great-expectations
tsfel
tensorboard
boto3
